{% extends "base.html" %}

{% block content %}

<div class="container">
    {% for listing in listing_list %}
        <div class="card mb-3">
            <div class="body">
                <!--Content for each post-->
                <h5 class="card-title">{{ listing.title }}</h5>
                <p class="card-text">{{ listing.description }}</p>
                <div class="image-container">
                    {% if "placeholder" in listing.featured_image.url %}
                    <img class="card-img-top"
                        src="https://cdn.pixabay.com/photo/2014/04/27/00/43/traffic-332857_1280.jpg">
                    {% else %}
                    <img class="card-img-top" src=" {{ listing.featured_image.url }}">
                    {% endif %}
                    <div class="image-flash">
                        <p class "seller">Seller: {{ listing.seller }}</p>
                    </div>
                </div>

            </div>
        </div>
    {% endfor %}
</div>
            
{%endblock%}